.lista_archivos {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.divbtn_agrega_archivo {
    width: 180px;
    height: 80px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

#archivo_input #file-upload-button {
    
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.2px;
    cursor: pointer;
    background-color: #1a73e8;
    height: 46px;
    padding-top: 6px;
    margin-bottom: 8px;

}

.boton_agregar_archivo:hover {
    text-decoration: none;
    color: black;

}

.tabla_archivos {
    background-color: white;
    border-collapse: collapse;
    width: 90%;
    table-layout: fixed;
    font-size: .9em;
    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins';
    /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.14);*/
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


.tabla_archivos tr {
    border: 1 px solid #ccc;
}

.tabla_archivos th,
.tabla_archivos td {
    border-bottom: 1px solid gray;
    padding: 12px;
    text-align: center;
}

.tabla_archivos thead th {
    background-color: #2B6797;
    color: white;
    text-transform: capitalize;
}

.tabla_archivos tr:hover {
    background-color: #E6E6E6;
}

.tabla_archivos td a {
    text-decoration: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 2px;
}

/*NUEVO ARCHIVO ESTILOS*/
.adjuntar_Archivo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 120px;
    margin-bottom: 10px;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;

}

.adjuntar_Archivo label {
    margin-bottom: 14px;
}

.etiqueta_archivos {
    font-size: 1.1em;
    font-weight: 600;
    padding-right: 20px;
    padding-top: 4px;
}

#campos_archivo {
    border: none;
}

@media screen and (max-width:820px) {

    .lista_archivos {
        height: 100%;
        margin-top: 20px;
    }

    .divbtn_agrega_archivo {
        width: 100%;
        height: 50px;
        margin-bottom: 4px;
        display: flex;
        align-items: center;
        margin-top: 10px;
        padding-top: 20px;
    }

    .boton_agregar_archivo {
        margin-left: 0;
    }

    .divtabla {
        margin-top: 10px;
    }

    .tabla_archivos thead {
        display: none;
    }

    .tabla_archivos,
    .tabla_archivos thead,
    .tabla_archivos tbody,
    .tabla_archivos tr,
    .tabla_archivos th,
    .tabla_archivos td {
        display: block;
    }

    .tabla_archivos {
        border: none
    }

    .tabla_archivos thead tr {
        display: none;
    }

    .tabla_archivos tbody tr {
        margin: 1em 0;

    }

    .tabla_archivos tr {
        background-color: #f8f8f8;
        border-bottom: 4px solid #ccc;
    }

    .tabla_archivos td {
        border: none;
        border-bottom: 1px solid #ddd;
        position: relative;
        padding-left: 45%;
        text-align: right;
    }

    .tabla_archivos tr td:last-child {
        border-bottom: 1px double #dddddd;
    }

    .tabla_archivos tr:last-child td:last-child {
        border: none;
    }

    .tabla_archivos td:before {
        position: absolute;
       /* top: 6px;*/
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    td:nth-of-type(1):before {
        content: "Nombre";
    }

    td:nth-of-type(2):before {
        content: "Expedido por";
    }

    td:nth-of-type(3):before {
        content: "Archivo";
    }
}

@media screen and (max-width:320px) {

    .lista_archivos {
        height: 100%;
        margin: 0;
        border: 0;
    }

    .divbtn_agrega_archivo {
        width: 160px;
        height: 50px;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        margin-top: 10px;
        padding-top: 20px;
        padding: 0;
        margin: 10px;
    }

    .boton_agregar_archivo {
        margin-left: 0;
    }

    .divtabla {
        margin-top: 10px;
    }

    .adjuntar_Archivo {
        width: 100%;

    }

    .etiqueta_archivos {
        font-size: .8em;
    }

    #campos_archivo {
        font-size: 14px;
    }
    .tabla_archivos td:before{
        font-size: 12px;
    }
    .tabla_archivos td{
        font-size: 12px;
    }

}