.botones_modal{
flex-wrap: wrap !important;
height: fit-content !important;;
gap: 10px !important;
}
.botones_modal h2{
    font-size: 16px!important;
    text-align: center;
    width: 100%;
}
.user{
    display: flex;
    flex-wrap: wrap;
}

.user label {
    width: 100%;
    border-bottom: 2px solid #2B6797;
    margin-bottom: 0.6rem;
}

.tabla_usuarios td{
    padding-left: 0;
    padding-right: 0;
}