.lista_familiares {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.divbtn_agrega_familiar {
    width: 180px;
    height: 80px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    margin-left: 26px;
}

.boton_agregar_familiar {
    width: 150px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: #2B6797;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.5px;
    cursor: pointer;
    border-radius: 10px;
    height: 36px;
    text-transform: capitalize;
    border: 1px solid #2B6797;
}

.boton_agregar_familiar:hover {
    text-decoration: none;
    color: white;
}

.tabla_grupo_familiar {
    background-color: white;
    border-collapse: collapse;
    width: 90%;
    table-layout: fixed;
    font-size: 1em;
    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins';
    /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.14);*/
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.tabla_grupo_familiar tr {
    border: 1 px solid #ccc;
}

.tabla_grupo_familiar th,
.tabla_grupo_familiar td {
    border-bottom: 1px solid gray;
    padding: 12px;
    text-align: center;
}

.tabla_grupo_familiar thead th {
    background-color: #2B6797;
    color: white;
    text-transform: capitalize;
}

.tabla_grupo_familiar td {
    letter-spacing: 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tabla_grupo_familiar tr:hover {
    background-color: #E6E6E6;
}

.tabla_grupo_familiar td a {
    text-decoration: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 2px;
}

.Descripcion_discapacidad {
    width: 100%;
    height: 150px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
    margin-top: 14px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    font-family: 'Poppins', sans-serif;
}

.Descripcion_discapacidad label {
    padding-left: 20px;
    width: auto;
}

.Descripcion_discapacidad textarea {
    padding-left: 6px;
    margin-left: 20px;
    width: 300px;
}

@media screen and (max-width:720px) {

    .lista_familiares {
        height: 100%;
        margin-top: 0;
    }

    .divbtn_agrega_familiar {
        width: 100%;
        height: 50px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        margin-top: 0;
        padding-top: 0;
    }

    .boton_agregar_familiar {
        margin-left: 0;
    }

    .divtabla {
        margin-top: 10px;
    }

    .tabla_grupo_familiar thead {
        display: none;
    }

    .tabla_grupo_familiar,
    .tabla_grupo_familiar thead,
    .tabla_grupo_familiar tbody,
    .tabla_grupo_familiar tr,
    .tabla_grupo_familiar th,
    .tabla_grupo_familiar td {
        display: block;
    }

    .tabla_grupo_familiar{
        border: none;
    }

    .tabla_grupo_familiar thead tr {
        display: none;
    }

    .tabla_grupo_familiar tbody tr {
        margin: 1em 0;

    }

    .tabla_grupo_familiar tr {
        background-color: #f8f8f8;
        border-bottom: 4px solid #ccc;
    }

    .tabla_grupo_familiar td {
        border: none;
        border-bottom: 1px solid #ddd;
        position: relative;
        padding-left: 45%;
        text-align: right;
    }

    .tabla_grupo_familiar tr td:last-child {
        border-bottom: 1px double #dddddd;
    }

    .tabla_grupo_familiar tr:last-child td:last-child {
        border: none;
    }

    .tabla_grupo_familiar td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }
    td:nth-of-type(1):before {
        content: "Tipo de Pariente";
    }

    td:nth-of-type(2):before {
        content: "Ocupación";
    }

    td:nth-of-type(3):before {
        content: "Cedula";
    }



}

@media screen and (max-width:560px) {

    .lista_familiares {
        height: 100%;
        margin-top: 0;
    }

    .divbtn_agrega_familiar {
        margin-bottom: 10px;
        margin-top: 0;
        padding-top: 0;
        margin-left: 12px;

    }

    .boton_agregar_familiar {
        margin-left: 0;
        font-size: calc(0.8em + 0.2vmin);
        height: 32px;
    }

    .divtabla {
        margin-top: 10px;
    }

    
    .Descripcion_discapacidad {
        height: 100px;
    }

    .Descripcion_discapacidad label {
        padding-left: 16px;
        font-size: .9em;
    }

    .Descripcion_discapacidad textarea {

        margin-left: 16px;
        width: 220px;
        height: 60px;
    }
    .tabla_grupo_familiar td:before{
        font-size: 14px;
    }
    .tabla_grupo_familiar td{
        font-size: 14px;
    }
}

@media screen and (max-width:360px) {

    .boton_agregar_familiar {
        margin-left: 0;
        font-size: calc(0.76em + 0.2vmin);
    }

    .tabla_grupo_familiar thead th {
        font-size: calc(0.7em + 0.2vmin);
    }

    .tabla_grupo_familiar th,
    .tabla_grupo_familiar td {

        padding: 10px;
    }

    .Descripcion_discapacidad {
        height: 120px;
    }

    .Descripcion_discapacidad label {
        font-size: .86em;
    }

    .Descripcion_discapacidad textarea {
        width: 180px;
        height: 50px;
    }
    .tabla_grupo_familiar td:before{
        font-size: 12px;
    }
    .tabla_grupo_familiar td{
        font-size: 12px;
    }
}