* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Main_lista_usuarios {
    width: 100%;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100vh;
    padding: 60px 80px;

}

.Contenido_Lista_usuarios h2 {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 6px;
    margin-top: 10px;
    padding-top: 20px;
    font-family: 'EB Garamond', sans-serif;
    color: #005da4;
    font-weight: 600;
}

.Contenido_Lista_usuarios {
    padding-top: 2px;
    padding-bottom: 10px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    height: 100%;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px, rgb(0 0 0 / 10%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -2px 0px inset;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contenedor_tabla {
    width: 92%;
    max-width: 1000px;
    margin: 0 auto;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divbtnregistro_admin {
    margin-bottom: 10px;
    padding-left: 50px;
    padding-top: 4px;
}

.botonregistro_admi {
    margin: 4px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.5px;
    cursor: pointer;
    border-radius: 10px;
    height: 36px;
    padding-top: 20px;
    padding-top: 0px;
    padding: 0 16px;
    text-transform: capitalize;
    border: 0;
    background-color: #2B6797;
    display: flex;
    align-items: center;
    color: white;
    width: 160px;
}

.botonregistro_admi:hover {
    cursor: pointer;
    text-decoration: none;
    color: white;

}

.usertabla {

    width: 90%;
    margin: 0 auto;
    height: 400px;
    padding-top: 20px;
    overflow: auto;
}

.tabla_usuarios {
    background-color: white;
    text-align: center;
    border-collapse: collapse;
    width: 98%;
    font-size: calc(1em + 0.2vmin);
    margin: 0 auto;
    font-family: 'Poppins';
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.14);*/
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


.tabla_usuarios th,
.tabla_usuarios td {
    border-bottom: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.tabla_usuarios th {
    background-color: #2B6797;
    color: white;
    text-transform: capitalize;
}

.tabla_usuarios td {
    letter-spacing: 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tabla_usuarios tr:hover {
    background-color: #E6E6E6;

}

.tabla_usuarios td a {
    text-decoration: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 2px;
}

.pagination {
    margin-top: 10px;
    padding: 20px;
}

.pagination li {
    margin-left: .25rem;
    margin-right: .25rem;
}

.pagination li .page-link {
    border-radius: .25rem;
    border: none;
    min-width: 2.25rem;
    text-align: center;
    color: #4f5464;
}

.pagination li.active .page-link,
.pagination li .page-link:hover {
    background-color: #005da4;
    color: #fff;
    font-weight: bold;
}


@media screen and (max-width:800px) {

    .Main_lista_usuarios {
        padding-left: 20px;
        padding-right: 20px;
        overflow: auto;

    }

    .Main_lista_usuarios h2 {
        font-size: 1.4em;
        width: 100%;
        margin-bottom: 10px;
    }

    .usertabla {
        padding: 10px;
    }

    .contenedor_tabla {
        width: 100%;
    }

    .botonregistro_admi {
        font-size: 0.76em;
        width: 140px;
        height: 32px;
    }

    .botonregistro_admi a:hover {
        text-decoration: none;
        color: white;
    }

    .tabla_usuarios {
        font-size: calc(0.7em + 0.4vmin);
        width: 100%;
        margin: 0;
    }
}


@media screen and (max-width:540px) {


    .Main_lista_usuarios h2 {
        font-size: 1.2em;
        width: 100%;
        margin-bottom: 10px;
    }

    .contenedor_tabla {
        width: 100%;
        padding: 0;
    }

    .divbtnregistro_admin {
        padding-left: 34px;
    }

    .botonregistro_admi {
        font-size: 0.72em;
        width: 130px;
        height: 30px;
    }

    .tabla_usuarios {
        font-size: calc(0.6em + 0.2vmin);
        width: 100%;
        margin: 0;
    }

    .tabla_usuarios tbody {
        width: 300px;
    }
}

@media screen and (max-width:350px) {

    .Main_lista_usuarios {
        min-height: 100vh;
        overflow: auto;
        padding: 0;
    }

    .Main_lista_usuarios h2 {
        width: 100%;
        margin-bottom: 20px;
    }

    .Contenido_Lista_usuarios {
        height: 100%;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: transparent;
        box-shadow: unset;
    }

    .usertabla {
        overflow: auto;
        padding: 0;
        margin: 0 auto;
        height: 50%;

    }

    .contenedor_tabla {
        width: 100%;
        height: 100%;

    }

    .tabla_usuarios {
        margin-top: 10px;
        margin-left: 0px;
        padding-left: 0px;
        padding-bottom: 100px;
        width: 100%;
        font-size: calc(1em+ 0.4vmin);
        padding: 0;
        background-color: transparent;
        background-color: white;
    }


    .divbtnregistro_admin {
        margin-left: 0;
        padding-left: 12px;
    }

    .botonregistro_admi {
        height: 28px;
        width: 100px;
        display: flex;
        padding: 0;
        font-size: .6em;
        justify-content: center;
    }
}