
.modal {
    position: fixed;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 50px;
    right: 0;
    display: flex;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    z-index: 1;
    overflow: auto;
    
}

.modal_contenido {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgb(33 41 52 / 75%);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 450px;
    min-width: 250px !important;
    position: relative;
    padding: 2rem;
    font-size: 1.3rem;
    overflow: auto;
    max-height: 500px;
}

.modal-header {
    display: flex;
    flex-direction: row;
}

.modal-header h2 {
    background-color: white;
    width: 100%;
    height: 80%;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.modal_body h2 {
    margin-bottom: 28px;
    margin-top: 24px;
    font-family: "EB Garamond";
    font-weight: 600;
}

.modal_body {
    margin-bottom: 20px;
}

/*--------------ESTILOS MODAL TRABAJO------------*/

.form_trabajo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.contenido {
    margin-bottom: 20px;
}

/*--------------ESTILOS MODAL BECA------------*/
.form_beca {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}
.Numero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}  
.div_btn_trabajo{
    margin-left: 25px;
}
.flex{
    display: flex;
}
.contenido_beca_modal {
    margin-bottom: 20px;
    max-width: 400px;
}

/*--------------ESTILOS MODAL CONTENEDORES, LABELS Y CAMPOS DE TEXTO------------*/

.datos_modals {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 12px;
    padding-top: 10px;
    padding-left: 10px;
    font-family: "Poppins", sans-serif;
}
.datos_modals2{
    overflow-wrap: anywhere;
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    gap:10px !important;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 12px;
    padding-top: 10px;
    padding-left: 10px;
    font-family: "Poppins", sans-serif;
}


.campos_modals {
    width: 200px;
    height: 42px;
   /*  height: 80px; */
    border-radius: 2px;
    border: 1.5px solid #0000006e;
    font-size: 16px;
    font-family: "Poppins";
    text-align: center;
    margin-left: 2%;
} 

.textareamodal{
    width: 100%;
    height: 70px;
    font-size: 15px;
    border-radius: 5px;
    resize: none;
    text-align: start;
    padding: 5px 7px 5px 5px;
}

#cierra_modal {
    color: black;
}

.etiqueta_modals {
    font-size: 18px;
    width: auto;
    padding-top: 6px;
}

/*--------------BOTONES MODAL------------*/

.botones_modal2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    gap: 20px;
    grid-template-columns: 150px 150px;
    place-content: center; 
    color: #ffffff;
    height: 50px;
    background-color: #6c757d;
    border-color: #6c757d;
}
.botones_modal {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    gap: 20px;
    grid-template-columns: 150px 150px;
    place-content: center; 
    color: #ffffff;
}

.botonagregatrabajo,
.botonCerrarModal {
    width: 120px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    background-color: #00c0f3;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.5px;
    cursor: pointer;
    border-radius: 6px;
    height: 38px;
    padding: 0 16px;
    text-transform: capitalize;
    border: 1px solid #00c0f3;
}

#btn_consentimiento{
    padding: 8px 20px;
    font-size: 15px;
    width: 120px;
    height: 38px;
    place-self: center;
}

.botonCerrarModal {
    padding: 8px 20px;
    color: #ffffff;
    place-self: center;
}

.botonCerrarModal:hover {
    text-decoration: none;
    color: white;
}

.buscar_pariente {
    display: flex;
    width: 100%;
    height: 60px;
    margin-bottom: 16px;
    margin-top: 14px;
    padding-top: 10px;
    padding-left: 10px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
}

.campo_modal_buscar {
    width: 200px;
    background-color: #fff;
    color: black;
    transition: 0.3s ease;
    padding: 6px;
    font-size: 16px;
    border: 2px solid #ddd;
    height: 40px;
    font-family: "Poppins", sans-serif;
}

.busqueda_contenedor {
    display: flex;
    float: right;
    margin-left: 20px;
    padding-right: 10px;
}

.busqueda_contenedor button {
    padding: 6px 10px;
    background: #ddd;
    border: none;
    cursor: pointer;
    height: 40px;
}

.busqueda_contenedor button:hover {
    background: #ccc;
}

@media screen and (max-width: 580px) {
    .modal_contenido {
        padding: 1em;
    }

    .datos_modals {
        height: 90px;
        padding-left: 20px;
        margin-bottom: 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .etiqueta_modals {
        width: 240px;
        text-align: start;
        font-size: 16px;
    }

    .campos_modals {
        width: 220px;
        margin-left: -14px;
        height: 36px;
    }

    .botonagregatrabajo,
    .botonCerrarModal {
        width: 100px;
        font-size: 14px;
    }

    .botonCerrarModal {
        padding: 8px 0px;
    }

    .modal-header h2 {
        font-size: 24px;
    }
}
