* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Principal_New_Adecuacion {
    width: 100%;
    background-color: #ECECEC;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container_Nueva_Adecuacion {
    width: 100%;
    height: 90%;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 8px;
    /* box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;*/
}

.Nueva_Adecuacion {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    padding: 40px;
    margin: 0 auto;
}

.Llenado_solicitud {
    width: 100%;
    height: 50%;
    padding-top: 4px;
    font-family: 'EB Garamond', sans-serif;
    margin: 0 auto;
    background-color: white;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
    border-radius: 8px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Llenado_solicitud h3 {
    padding-top: 20px;
    padding-bottom: 24px;
    text-align: center;
    color: #005da4;
    font-weight: 600;

}

.Llenado_solicitud h5 {
    padding-bottom: 10px;
    text-align: center;
    color: #005da4;
    font-weight: 600;
    padding-top: 10px;

}

.contenido_nueva_adecuacion {
    width: 500px;
    margin: 0 auto;
    border: 2px solid #383d4194;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.datos_adecuacion {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 12px;
    font-family: 'Poppins', sans-serif;
}

.etiqueta_solicitud_adecuacion {
    font-size: 1.12em;
    width: 280px;
    padding-top: 6px;
    text-align: start;
}

.campos_adecuacion {
    /*  margin-left: 2%;*/
    outline: none;
    height: 2.4em;
    border-radius: 2px;
    min-width: 150px;
    max-width: 300px;
    border: 1.5px solid #0000006e;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding-left: 4px;
    padding-right: 8px;
    text-align: center;
}

.Carrera_simultanea,
.Traslado {
    display: flex;
    flex-direction: column;
    min-height: 60px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    padding-left: 16px;
    font-family: 'Poppins', sans-serif;
}


.seleccion_carrera_simultanea,
.seleccion_traslado {
    display: flex;
    flex-direction: row;
    padding: 10;
    margin-right: 10px;
    height: 40px;
}

.Segunda_carrera,
.Traslado_carrera {
    display: none;
    margin-top: 4px;
    width: 100%;
    flex-direction: row;
    padding-left: 4px;
}


.Check {
    margin-right: 4px;
    margin-top: 4px;
    display: flex;
    width: 60px;
    justify-content: center;
}

.label_radio {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.radio_buttom {
    margin-left: 4px;
    height: 30px;
    width: 22px;
}

/*RESPONSIVE NUEVA ADECUACION*/
@media screen and (max-width:800px) {

    .Principal_New_Adecuacion {
        padding: 20px 40px;
    }

    .container_Nueva_Adecuacion {
        margin-top: 80px;
        width: 100%;
    }

    .Nueva_Adecuacion {
        max-width: 800px;
        width: 100%;
        padding: 50px 0px 50px 0px;
    }

    .Llenado_solicitud {
        padding-left: 12px;
        padding-right: 12px;
        max-width: 600px;

    }

    .Llenado_solicitud h3 {
        font-size: 20px;

    }

    .Llenado_solicitud h5 {
        font-size: 16px;

    }

    .contenido_nueva_adecuacion {
        width: 380px;
        }

    .etiqueta_solicitud_adecuacion {
        font-size: 1em;
        width: auto;
    }

    .datos_adecuacion {
        display: flex;
        flex-direction: column;
        height: 120px;
        margin-top: 2px;
        justify-content: center;
        padding-left: 8px;
        margin-bottom: 0;
    }

    .campos_adecuacion {
        margin-left: 0;
        outline: none;
        height: 36px;
        max-width: 250px;
        width: 100%;
        font-size: 14px;
        padding-left: 4px;
        margin-bottom: 10px;
    }

    .Carrera_simultanea,
    .Traslado {
        display: flex;
        flex-direction: column;
        padding-left: 4px;
    }

    .Segunda_carrera,
    .Traslado_carrera {

        flex-direction: column;
    }

    .label_radio {
        font-size: 1.1em;
    }

    .radio_buttom {
        margin-left: 6px;
        height: 26px;
        width: 18px;
    }
}

@media screen and (max-width:520px) {

    .Principal_New_Adecuacion {
        padding: 10px 0 100px 0;
    }

    .container_Nueva_Adecuacion {
        margin-top: 80px;
        width: 100%;
    }

    .Nueva_Adecuacion {
        width: 100%;
        max-width: 400px;
        padding: 10px;
    }

    .Llenado_solicitud {
        padding-left: 0;
        padding-right: 0;
        margin-top: 40px;
    }

    .Llenado_solicitud h3 {
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;

    }

    .Llenado_solicitud h5 {
        font-size: 16px;

    }

    .contenido_nueva_adecuacion {
       width: 300px;
    }

    .etiqueta_solicitud_adecuacion {
        font-size: calc(0.96em + 0.2vmin);
        width: auto;
    }

    .datos_adecuacion {
        width: 100%;
        max-width: 280px;
    }

    .campos_adecuacion {
        margin-left: 0;
        outline: none;
        height: 34px;
        max-width: 250px;
        width: 100%;
        font-size: calc(0.86em + 0.2vmin);
        padding-left: 4px;
    }

    .Carrera_simultanea,
    .Traslado {
        display: flex;
        flex-direction: column;
        padding-left: 4px;
    }

    .Segunda_carrera,
    .Traslado_carrera {

        flex-direction: column;
    }

    .label_radio {
        font-size: calc(0.96em + 0.2vmin);
    }

    .radio_buttom {
        margin-left: 6px;
        height: 24px;
        width: 18px;
    }
}

@media screen and (max-width:380px) {

    .Principal_New_Adecuacion {
        padding: 20px 0 60px 0;
    }

    .container_Nueva_Adecuacion {
        margin-top: 80px;
        width: 100%;

    }

    .Nueva_Adecuacion {
        width: 100%;
        max-width: 300px;
        padding: 0;

    }

    .Llenado_solicitud {
        padding-left: 10px;
        padding-right: 10px;
        /* box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px, rgb(0 0 0 / 16%) 0px 7px 13px -3px, rgb(0 0 0 / 1%) 0px -3px 0px inset;*/
        box-shadow: unset;
        background-color: unset;
        margin: 0;
    }

    .Llenado_solicitud h3 {
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;

    }

    .Llenado_solicitud h5 {
        font-size: 14px;
    }

    .contenido_nueva_adecuacion {
        padding-left: 14px;
        padding-right: 0;
        border-radius: 8px;
        background-color: white;
        padding-bottom: 40px;
        width: 240px;
    }

    .etiqueta_solicitud_adecuacion {
        font-size: calc(0.88em + 0.2vmin);
        width: auto;
    }

    .datos_adecuacion {
        width: 100%;
        justify-content: center;
        padding-left: 4px;
        padding-right: 8px;
        margin-bottom: 0;
        margin-top: 1px;
        padding-top: 0;
        height: 78px;
    }

    .campos_adecuacion {
        margin-left: 0;
        outline: none;
        height: 32px;
        font-size: 12px;
        padding-left: 4px;
       width: 200px;
    }
}