.grid {
    display: grid;
}

.grid-columna-3 {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-columna-2 {
    grid-template-columns: 1fr 1.1fr;
}

.place-center {
place-self: center;
}

.fila {
    border-bottom: black 1px solid;
}

.datos {
    place-self: center;
}

.head-PAI {
    text-align: center;
}
.columna {
    place-self: center;
    font-weight: 400;
}
label {
    font-weight: 400;
}
.etiqueta {
    background-color: #2b6797;
    color: white;
    text-transform: capitalize;
}
.adecuacion {
    height: auto !important;
}

@media screen and (max-width: 820px) {
    td:nth-of-type(1):before {
        content: ""!important;
    }

    td:nth-of-type(2):before {
        content: ""!important;
    }

    td:nth-of-type(3):before {
        content: ""!important;
    }
}

@media screen and (max-width: 720px) {
    td:nth-of-type(3):before {
        content: ""!important;
    }
}
